/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   VARIÁVEIS
========================= */

:root {
  --color-primary:  #ffd400;
  --color-bg: #f9f9fb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text: #1f2937;
  --color-text-light: #6b7280;

  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  --radius-md: 8px;
  --shadow-sm: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* =========================
   BASE
========================= */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}



/* Faz o conteúdo principal crescer */
main {
  flex: 1;
}

.container {
  padding: var(--spacing-md);
  max-width: 720px;
  margin: 0 auto;
}

/* =========================
   HEADER
========================= */

.header {
  background-color: var(--color-primary);
  color: black;
  padding: var(--spacing-md);
  text-align: center;
}

/* =========================
   CARD
========================= */

.card {
  background-color: var(--color-surface);
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  margin-top: var(--spacing-lg);
}

.card__title {
  margin-bottom: var(--spacing-md);
}

/* =========================
   FORM
========================= */

.form__label {
  display: block;
  margin-top: var(--spacing-sm);
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.form__mensagem {
  margin-top: var(--spacing-md);
  font-weight: 600;
}

/* =========================
   BOTÃO
========================= */

.button {
  margin-top: var(--spacing-md);
  padding: 0.7rem 1rem;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.button--primary {
  background-color: var(--color-primary);
  color: black;
}

.button--primary:hover {
  background-color: var(--color-primary-dark);
}

.footer {
  margin-top: 3rem;
  padding: 1.5rem 1rem;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.footer__content {
  max-width: 900px;
  margin: 0 auto;
}

.footer__text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  color: #ffd400;
  text-decoration: none;
  font-weight: 600;
  margin: 0 0.7rem;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link svg {
  width: 20px;
  height: 20px;
}
