:root {
  --color-primary: #ffd400;
  --color-bg: #f4f4f4;
  --color-card: #ffffff;
  --color-text: #111;
  --color-muted: #666;
  --radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}


main {
  flex: 1;
}
/* CARD */

.card {
  background-color: var(--color-card);
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card__title {
  margin-bottom: 1.5rem;
  color: var(--color-text);
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__label {
  font-size: 0.9rem;
  color: var(--color-muted);
}

.card__input {
  padding: 0.8rem;
  border-radius: var(--radius);
  border: 1px solid #ddd;
}

.card__button {
  padding: 0.8rem;
  border-radius: var(--radius);
  border: none;
  background-color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card__button:hover {
  opacity: 0.9;
}

.card__result {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

/* FOOTER */

.footer {
  margin-top: 3rem;
  padding: 1.5rem 1rem;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.footer__content {
  max-width: 900px;
  margin: 0 auto;
}

.footer__text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  color: #ffd400;
  text-decoration: none;
  font-weight: 600;
  margin: 0 0.7rem;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link svg {
  width: 20px;
  height: 20px;
}
