/* =========================
   DESIGN SYSTEM
========================= */

:root {
  --color-primary: #ffd400;
  --color-primary-dark: #e6be00;
  --color-dark: #111;
  --color-light: #fff;
  --color-gray-light: #f5f5f5;

  --spacing-lg: 3rem;
  --spacing-md: 1.5rem;
  --spacing-sm: 1rem;

  --radius-md: 8px;
}

/* =========================
   RESET
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--color-gray-light);
  line-height: 1.5;
}

/* =========================
   LAYOUT BASE (MOBILE FIRST)
========================= */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =========================
   HEADER
========================= */

.header {
  padding: var(--spacing-lg) var(--spacing-sm);
  text-align: center;
  background-color: var(--color-primary);
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* =========================
   MAIN
========================= */

.main {
  flex: 1;
  padding: var(--spacing-md);
  text-align: center;
}

/* =========================
   CONTROLS
========================= */

.controls__button,input, keyboard__input {
  width: 60%;
  padding: 1.2rem; /* mais altura */
  font-size: 1rem; /* texto maior */
  font-weight: 600;
  margin: 5px;
  border-radius: 12px;
  border: none;
  background: var(--color-light);
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(14, 13, 13, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.controls__button--clear:hover {
  background: #dadada;
}

.controls__button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}
/* =========================
   KEYBOARD SECTION
========================= */

.keyboard {
  margin-top: var(--spacing-md);
}




.keyboard__message {
  margin-top: var(--spacing-sm);
  font-weight: 600;
}

/* =========================
   FOOTER
========================= */

.footer {
  padding: var(--spacing-md);
  background: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.footer__link {
  color: var(--color-primary);
  text-decoration: none;
  margin: 0 0.6rem;
  font-weight: 600;
  transition: opacity 0.2s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

/* =========================
   RESPONSIVIDADE
========================= */

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    justify-content: center;
  }

  .header__title {
    font-size: 2rem;
  }
}
